NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="email-scheduler-nextauth-secret-key-32-chars"

# Real Google OAuth Credentials from Google Cloud Console
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
