NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="email-scheduler-nextauth-secret-key-32-chars"

# Real Google OAuth Credentials from Google Cloud Console
GOOGLE_CLIENT_ID="350535856475-ep1vv0d1sd6pq6s980oble5coelgombd.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
